body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(182, 109, 24, 1) 59%, rgba(0, 212, 255, 1) 100%);
}

.Card {
    margin-top: 30px;
    max-width: 540px;
}

.CardTexts {
    margin-left: 15px;
}

.ImageClass {
    max-width: 190px;
    max-height: 190px;
}

.ButtonsHome {
    display: flex;
    justify-content: center;
    max-height: 100%;
    align-items: center;
}

.ButtonHome {
    width: 200px;
    margin: 25px;
}

.DivPosition{
    display: flex;
    justify-content: center;
}

.ButtonBack {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.ButtonBack:hover {
    background-color: #3e8e41
}

.ButtonBack:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.BackgoundGraphic {
    background-color: white;
}

.SizeGraph {
    height: 500px;
    display: flex;
    justify-content: center;
}